body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header  */

.header {
  position: relative;
  padding: 16px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
}

/* logo */

.nav-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  height: 24px;
  align-items: center;
}
.nav-part {
  color: #2e2f42;
}
.nav-list {
  display: none;
}
.header-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus .nav-link:active {
  color: #404bbf;
}
.current {
  color: #404bbf;
  position: relative;
}

.current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
}

/* contacts */

.contact-list {
  font-style: normal;
  display: flex;
  margin: 0 auto;
  gap: 40px;
  display: none;
}

.contact-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  background-color: #fff;
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
  .menu-open-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    color: #2e2f42;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-list {
    display: block;
  }
  .contact-link {
    flex-direction: column;
    gap: 12px;
  }
}
@media screen and (min-width: 1158px) {
  .contact-list {
    display: flex;
  }
  .contact-link {
    flex-direction: row;
    gap: 40px;
  }
}
/* <!-- Menu - mob -- >  */
.mob-menu-backdrop {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 320px;
  height: 640px;
  background-color: #fff;
  padding: 72px 16px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu-open-btn {
  margin-left: auto;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.mob-menu-nav {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-menu-link.current {
  color: #404bbf;
  position: relative;
}

.current::after {
  display: none;
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.mob-menu-link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #404bbf;
}
.mob-menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 168px;
}
.mob-contact-link {
  color: #434455;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contact-link:hover,
.mob-contact-link:focus {
  color: #404bbf;
}

.mob-menu-social {
  display: flex;
  gap: 40px;
  margin-top: 48px;
  justify-content: center;
  align-items: center;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.item-social-icons {
  width: 40px;
  height: 40px;
  background-color: #f4f4fd;
}
.close-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-heder:hover,
.btn-close-heder:focus {
  fill: #ffffff;
  border: none;
  background-color: #404bbf;
}

.close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* here  */

.here-section {
  background: #2e2f42;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 72px 0;
  flex-shrink: 0;
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
}
@media screen and (min-resolution: 192dpi) {
  .here-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob@2x.jpg);
  }
}

/* title */
.here-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 216px;
}
/* button */
.here-btn {
  background-color: #4d5ae5;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  display: block;
  align-items: center;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.here-btn:hover,
.here-btn:focus {
  background-color: #404bbf;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .here-section {
    padding: 112px 0;
    max-width: 1157px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .here-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab@2x.jpg);
    }
  }
  .here-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .here-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-deskt.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .here-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-deskt@2x.jpg);
    }
  }
  .here-title {
    margin-bottom: 48px;
  }
}

/* advantages */

.advantages-section {
  padding: 96px 0;
  background-color: #fff;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 264px;
  gap: 72px;
}
.advantages-items {
  width: calc((100%-72px) / 4);
}
.advantages-container {
  display: none;
}
.advantages-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;
}
.advantages-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .advantages-title {
    text-align: left;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .advantages-items {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .advantages-section {
    padding: 120px 0;
  }
  .advantages-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .advantages-items {
    width: calc((100% - 72px) / 4);
  }
  .advantages-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .advantages-text {
    font-weight: 400;
  }

  .advantages-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    margin-bottom: 8px;
  }
  .advantages-icon {
    display: flex;
  }
}

/* our Team */

.team-section {
  padding: 96px 12px;
  background: #f4f4fd;
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.team-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.section-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-intro {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}
.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.team-social-item {
  width: 40px;
  height: 40px;
}
.team-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .team-section {
    padding: 96px 108px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
  .team-list {
    flex-wrap: nonwrap;
    justify-content: center;
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 75px) / 4);
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-container {
    width: 552px;
  }
}

/* our Portfolio */

.portfolio-section {
  padding-bottom: 96px 0;
}
.section-portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}
.portfolio-items {
  width: 288px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}
.portfolio-items:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-cards {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.box-overlay {
  position: relative;
  overflow: hidden;
}
.box-overlay:hover .overlay-text {
  transform: translateY(0);
}
.overlay-text {
  color: var(--CLOUD, #f4f4fd);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-items {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding: 120px 0;
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-items {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
}

/* footer */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}
.footer-block-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 264px;
}
.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-part {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-block-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-social {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  gap: 16px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: #f4f4fd;
}

/* Subscribe  */

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-text {
  color: var(--WHITE, #fff);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.sub-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.input-email {
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: var(--NAVY-BLUE, #2e2f42);
  color: #ffffff;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 0 8px 16px;
}
.input-email::placeholder {
  color: #fff;
}
.sub-btn {
  display: flex;
  color: var(--WHITE, #fff);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  margin: 0 auto;
  width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointe;
  border-radius: 4px;
  border: none;
  background: var(--IRIS, #4d5ae5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-btn:hover,
.sub-btn:focus {
  background-color: #404bbf;
}
.footer-icon-sub {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-page-container {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    padding: 0 92px;
    justify-content: start;
  }
  .footer-block-logo {
    align-items: start;
  }
  .footer-block-social {
    align-items: start;
  }
  .subscribe {
    align-items: start;
  }

  .input-email {
    width: 264px;
  }
  .sub-form {
    flex-direction: row;
  }
}

@media screen and (min-width: 1158px) {
  .footer-page-container {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    gap: unset;
    padding: 0 100px;
  }
  .footer-block-logo {
    margin-right: 120px;
  }
  .subscribe {
    margin-left: 80px;
    justify-content: center;
  }

  /* .footer-block-social {
    margin-right: auto;
  } */
}

/* Backdrop */
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 288px;
  min-height: 584px;
  padding: 72px 24px 24px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-cloce {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-cloce:hover,
.btn-cloce:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.group-modal {
  margin-bottom: 8px;
}
.form-label {
  display: block;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.form-icon {
  position: relative;
}
.form-input {
  display: flex;
  width: 100%;
  height: 40px;
  font-size: 12px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.textarea-modal {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 4px;
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border-color: #4d5ae5;
}

.form-textarea::placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.86;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}
/* checkbox */
.checkbox-modal {
  margin-bottom: 24px;
  position: relative;
}
.span-click {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
}
.hidden-checkbox:checked + .checkbox-label .span-click {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-label {
  display: flex;
  align-items: center;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.privacy-policy {
  color: #4d5ae5;
  text-decoration-line: underline;
}
/* button */
.btn-modal {
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  gap: 10px;
  border-radius: 4px;
  border: none;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:hover,
.btn-modal:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
